# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env
.env.*

# Modelos (archivos grandes)
*.pt
*.pth

# Archivos generados
test_results_json/
charts/
*.xlsx

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Cache de librerías
*.cache
/tmp/translation_cache.json
